<h3>合宿説明会予約</h3>
PBC2013に参加して頂くにあたり、事前説明会に参加してください。<br>
以下のフォームよりご都合がよろしい日時に参加予約をしてください。<br>
なお、こちらの説明会に参加していただくことが、合宿参加の条件となっています。<br>
<table class="table table-bordered">
<%= form_for(:orientation_meeting) do |om| %>
<thead>
<tr>
  <th>説明日</th>
  <th>開始時間</th>
  <th>場所</th>
  <th class="span2">予約</th>
</tr>
</thead>
<tbody>
<tr>
  <td>
    3月18日(月)
  </td>
  <td>
  	13時15分〜
  </td>
  <td>
  	Nexus21 3F 301
  </td>
  <td>
  	<%= om.radio_button 'day', '20130318', {} %>
  </td>
</tr>
<tr>
  <td>
    3月18日(月)
  </td>
  <td>
  	13時15分〜
  </td>
  <td>
  	Nexus21 3F 301
  </td>
  <td>
  	<%= om.radio_button 'day', '20130319', {} %>
  </td>
</tr>
<tr>
  <td colspan="4"><%= om.submit '予約する' %></td>
</tr>
</tbody>
<% end %>
</table>